@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap");
/*======================================================
              Common part css start
==========================================================*/
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}

/*======================================================
              Common part css End
==========================================================*/
/* ========================================
      Main body part css start
===========================================*/
.virtual-body {
  margin-top: 2rem;
}
.virtual-body .left {
  position: relative;
  position: sticky;
  top: 30px;
}
.virtual-body .left .img-container img {
  width: 200px;
  max-width: 200px;
  border-radius: 5px;
}
.virtual-body .left .img-below-information .issue-cover {
  font-size: 17px;
  font-weight: 400;
  color: rgb(0, 111, 183);
  font-family: "Source Sans Pro", sans-serif;
  transition: all linear 0.2s;
  margin-top: 10px;
}
.virtual-body .left .img-below-information .issue-cover:hover {
  text-decoration: underline;
}
.virtual-body .left .img-below-date {
  font-size: 17px;
  font-weight: 400;
  color: rgb(42, 42, 42);
  font-family: "Source Sans Pro", sans-serif;
}
.virtual-body .left .article-content {
  margin-top: 2rem;
}
.virtual-body .left .article-content ul .heading {
  font-size: 20px;
  font-weight: 700;
  color: rgb(42, 42, 42);
  font-family: "Source Sans Pro", sans-serif;
}
.virtual-body .left .article-content li {
  padding: 0.3rem 0;
}
.virtual-body .left .article-content li a {
  font-size: 15px;
  font-weight: 400;
  color: rgb(42, 42, 42);
  font-family: "Source Sans Pro", sans-serif;
}
.virtual-body .left .article-content li a:hover {
  text-decoration: underline;
}
.virtual-body .left .article-content li:nth-child(4) a {
  font-size: 15px;
  font-weight: 700;
  color: rgb(42, 42, 42);
  font-family: "Source Sans Pro", sans-serif;
}
.virtual-body .left .article-content li:last-child {
  margin-top: 2rem;
}
.virtual-body .left .article-content li:last-child a {
  color: rgb(0, 111, 183);
}
.virtual-body .left::after {
  position: absolute;
  content: "";
  top: 0%;
  right: 0%;
  width: 1px;
  height: 100vh;
  background-color: #cfd5e4;
}
.virtual-body .right {
  margin-left: 3rem;
}
.virtual-body .right .top .tag {
  font-size: 13px;
  font-weight: 400;
  color: rgb(42, 42, 42);
  font-family: "Source Sans Pro", sans-serif;
  margin-bottom: 0.5rem;
  padding: 5px 10px;
  background: #cfd5e4;
  display: inline-block;
}
.virtual-body .right .top .head {
  position: relative;
}
.virtual-body .right .top .head .title {
  position: relative;
  font-size: 24px;
  font-weight: 700;
  color: rgb(42, 42, 42);
  font-family: "Source Sans Pro", sans-serif;
}
.virtual-body .right .top .head .title .free {
  position: absolute;
  bottom: 8px;
  left: 87px;
  font-size: 10px;
  font-weight: 300;
  color: #fff;
  font-family: "Source Sans Pro", sans-serif;
  background: green;
  border-radius: 15px;
  padding: 2px 8px;
}
.virtual-body .right .top .link a {
  font-size: 17px;
  font-weight: 400;
  color: rgb(0, 111, 183);
  font-family: "Source Sans Pro", sans-serif;
}
.virtual-body .right .top .link a .fa-envelope {
  color: rgb(42, 42, 42);
  padding: 0 3px;
}
.virtual-body .right .top .link a:hover {
  text-decoration: underline;
}
.virtual-body .right .top .link .details-link {
  margin-top: 1rem;
  line-height: 28px;
  font-size: 17px;
  font-weight: 400;
  color: rgb(42, 42, 42);
  font-family: "Source Sans Pro", sans-serif;
  font-style: italic;
}
.virtual-body .right .history {
  display: flex;
  margin-top: 0.6rem;
}
.virtual-body .right .history .history-tile {
  margin-top: 9px;
  font-size: 17px;
  font-weight: 700;
  color: rgb(42, 42, 42);
  font-family: "Source Sans Pro", sans-serif;
}
.virtual-body .right .history .history-tile span {
  font-size: 16px;
  font-weight: 400;
  color: rgb(42, 42, 42);
  font-family: "Source Sans Pro", sans-serif;
}
.virtual-body .right .history .dropdown .custom-btn {
  border: none !important;
  margin-left: 0.4rem;
}
.virtual-body .right .history .dropdown .custom-card-body {
  background: #eff2f7 !important;
  margin-bottom: 6rem !important;
}
.virtual-body .right .icon-list {
  margin-top: -5.5rem;
  display: flex;
  align-items: center;
  position: relative;
}
.virtual-body .right .icon-list .icon-descriotion {
  display: flex;
  margin-right: 2.4rem;
  align-items: center;
}
.virtual-body .right .icon-list .icon-descriotion Merriweather span {
  font-size: 17px;
  font-weight: 600;
  color: #000000;
  font-family: "Source Sans Pro", sans-serif;
  margin-left: 10px;
}
.virtual-body .right .icon-list .icon-descriotion .fa-file-pdf {
  color: red;
  font-size: 25px;
}
.virtual-body .right .icon-list::after {
  position: absolute;
  content: "";
  bottom: -13px;
  left: 0;
  width: 92%;
  height: 1px;
  background: #cfd5e4;
}
.virtual-body .right .another {
  background: #cfd5e4;
  padding: 0.7rem 0;
  width: 92%;
  margin-top: 2rem;
}
.virtual-body .right .another .another-title {
  font-size: 17px;
  font-weight: 700;
  color: rgb(42, 42, 42);
  font-family: "Source Sans Pro", sans-serif;
  padding: 0.5rem 1rem;
}
.virtual-body .right .another .another-title span {
  font-size: 17px;
  font-weight: 400;
  color: rgb(0, 111, 183);
  font-family: "Source Sans Pro", sans-serif;
  margin-left: 10px;
  text-decoration: underline;
}
.virtual-body .right .random-text {
  margin-top: 3rem;
}
.virtual-body .right .random-text .random-para {
  font-size: 15px;
  font-weight: 500;
  color: rgb(42, 42, 42);
  font-family: "Merriweather Sans", sans-serif;
  line-height: 25.5px;
  margin-right: 46px;
  text-align: justify;
}
.virtual-body .right .image-part {
  margin-top: 2rem;
}
.virtual-body .right .image-part .img-part-title {
  font-size: 17px;
  font-weight: 700;
  color: rgb(42, 42, 42);
  font-family: "Source Sans Pro", sans-serif;
}
.virtual-body .right .image-part img {
  margin-top: 0.7rem;
  width: 93%;
  max-width: 93%;
}
.virtual-body .right .image-part .button-group {
  display: flex;
  margin-top: 1rem;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.virtual-body .right .image-part .button-group .custom-group-btn {
  padding: 9px 16px;
  background: #267cb5;
  margin-left: 1rem;
  font-size: 17px;
  font-weight: 400;
  color: #fff;
  font-family: "Source Sans Pro", sans-serif;
}
.virtual-body .right .image-part .button-group .custom-group-btn:hover {
  background: rgba(27, 120, 182, 0.7450980392);
}
.virtual-body .right .image-part .one-line-txt {
  font-size: 15px;
  font-weight: 400;
  color: rgb(42, 42, 42);
  font-family: "Source Sans Pro", sans-serif;
  margin: 1rem 0;
}
.virtual-body .right .text-book {
  padding: 1rem 0;
  font-size: 15px;
  font-weight: 400;
  color: rgb(42, 42, 42);
  font-family: "Merriweather Sans", sans-serif;
  margin-right: 46px;
  line-height: 25.5px;
  text-align: justify;
}
.virtual-body .right .text-book .long-text {
  padding: 0.8rem 0;
}
.virtual-body .right .funding {
  padding: 2rem 0;
  position: relative;
}
.virtual-body .right .funding::after {
  position: absolute;
  content: "";
  top: 75px;
  left: 0;
  width: 93%;
  height: 1px;
  background: #cfd5e4;
}
.virtual-body .right .funding h2 {
  font-size: 27px;
  font-weight: 700;
  color: rgb(42, 42, 42);
  font-family: "Source Sans Pro", sans-serif;
}
.virtual-body .right .funding p {
  font-size: 15px;
  font-weight: 400;
  color: rgb(42, 42, 42);
  font-family: "Merriweather Sans", sans-serif;
  padding-top: 2rem;
}
.virtual-body .right .funding ol {
  padding-top: 2.5rem;
  font-size: 15px;
  font-weight: 400;
  color: rgb(42, 42, 42);
  font-family: "Source Sans Pro", sans-serif;
  line-height: 22.5px;
}
.virtual-body .right .funding ol li {
  list-style: decimal;
  padding: 1rem 0;
}
.virtual-body .right .funding ol li span a {
  text-decoration: underline;
}
.virtual-body .right .funding ol li .anchor-list {
  margin-top: 0.5rem;
}
.virtual-body .right .funding ol li .anchor-list a {
  padding-right: 2.5rem;
}
.virtual-body .right .funding ol li .anchor-list a:hover {
  text-decoration: underline;
}
.virtual-body .right .funding ol li:nth-child(12) {
  list-style: none;
  margin-left: -1.3rem;
}
.virtual-body .right .funding ol li:last-child {
  list-style: none;
  margin-left: -1.3rem;
}

/* ========================================
      Main body part css start
===========================================*//*# sourceMappingURL=style.css.map */