@import "../Variable/variable";
@import "../Mixins/mixin";
/* ========================================
      Main body part css start
===========================================*/
.virtual-body {
  margin-top: 2rem;
  .left {
    position: relative;
    position: sticky;
    top: 30px;
    .img-container {
      img {
        width: 200px;
        max-width: 200px;
        border-radius: 5px;
      }
    }
    .img-below-information {
      .issue-cover {
        @include fontinfo(17px, 400, rgb(0, 111, 183), $source-sans);
        transition: all linear 0.2s;
        margin-top: 10px;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    .img-below-date {
      @include fontinfo(17px, 400, rgb(42, 42, 42), $source-sans);
    }
    .article-content {
      margin-top: 2rem;
      ul {
        .heading {
          @include fontinfo(20px, 700, rgb(42, 42, 42), $source-sans);
        }
      }
      li {
        padding: 0.3rem 0;
        a {
          @include fontinfo(15px, 400, rgb(42, 42, 42), $source-sans);
          &:hover {
            text-decoration: underline;
          }
        }
        &:nth-child(4) {
          a {
            @include fontinfo(15px, 700, rgb(42, 42, 42), $source-sans);
          }
        }
        &:last-child {
          margin-top: 2rem;
          a {
            color: $secondary-color;
          }
        }
      }
    }
    &::after {
      position: absolute;
      content: "";
      top: 0%;
      right: 0%;
      width: 1px;
      height: 100vh;
      background-color: #cfd5e4;
    }
  }
  // -----> right side css .
  .right {
    margin-left: 3rem;

    .top {
      .tag {
        @include fontinfo(13px, 400, $primary-color, $source-sans);
        margin-bottom: 0.5rem;
        padding: 5px 10px;
        background: #cfd5e4;
        display: inline-block;
      }
      .head {
        position: relative;
        .title {
          position: relative;
          @include fontinfo(24px, 700, $primary-color, $source-sans);
          .free {
            position: absolute;
            bottom: 8px;
            left: 87px;
            @include fontinfo(10px, 300, #fff, $source-sans);

            background: green;
            border-radius: 15px;
            padding: 2px 8px;
          }
        }
      }
      .link {
        a {
          @include fontinfo(17px, 400, $secondary-color, $source-sans);
          .fa-envelope {
            color: $primary-color;
            padding: 0 3px;
          }
          &:hover {
            text-decoration: underline;
          }
        }
        .details-link {
          margin-top: 1rem;
          line-height: 28px;
          @include fontinfo(17px, 400, $primary-color, $source-sans);
          font-style: italic;
        }
      }
    }
    .history {
      display: flex;
      margin-top: 0.6rem;

      .history-tile {
        margin-top: 9px;
        @include fontinfo(17px, 700, $primary-color, $source-sans);
        span {
          @include fontinfo(16px, 400, $primary-color, $source-sans);
        }
      }
      .dropdown {
        .custom-btn {
          border: none !important;
          margin-left: 0.4rem;
        }
        .custom-card-body {
          background: #eff2f7 !important;
          margin-bottom: 6rem !important;
        }
      }
    }

    .icon-list {
      margin-top: -5.5rem;
      display: flex;
      align-items: center;
      position: relative;
      .icon-descriotion {
        display: flex;
        margin-right: 2.4rem;
        align-items: center;
        Merriweather span {
          @include fontinfo(17px, 600, #000000, $source-sans);
          margin-left: 10px;
        }
        .fa-file-pdf {
          color: red;
          font-size: 25px;
        }
      }
      &::after {
        position: absolute;
        content: "";
        bottom: -13px;
        left: 0;
        width: 92%;
        height: 1px;
        background: #cfd5e4;
      }
    }
    .another {
      background: #cfd5e4;
      padding: 0.7rem 0;
      width: 92%;
      margin-top: 2rem;
      .another-title {
        @include fontinfo(17px, 700, $primary-color, $source-sans);
        padding: 0.5rem 1rem;
        span {
          @include fontinfo(17px, 400, $secondary-color, $source-sans);
          margin-left: 10px;
          text-decoration: underline;
        }
      }
    }
    .random-text {
      margin-top: 3rem;
      .random-para {
        @include fontinfo(15px, 500, $primary-color, $Merriweather);
        line-height: 25.5px;
        margin-right: 46px;
        text-align: justify;
      }
    }
    .image-part {
      margin-top: 2rem;
      .img-part-title {
        @include fontinfo(17px, 700, $primary-color, $source-sans);
      }
      img {
        margin-top: 0.7rem;
        width: 93%;
        max-width: 93%;
      }
      .button-group {
        display: flex;
        margin-top: 1rem;
        justify-content: center;
        align-items: center;
        padding: 10px;
        .custom-group-btn {
          padding: 9px 16px;
          background: #267cb5;
          margin-left: 1rem;
          @include fontinfo(17px, 400, #fff, $source-sans);
          &:hover {
            background: #1b78b6be;
          }
        }
      }
      .one-line-txt {
        @include fontinfo(15px, 400, $primary-color, $source-sans);
        margin: 1rem 0;
      }
    }
    .text-book {
      padding: 1rem 0;
      @include fontinfo(15px, 400, $primary-color, $Merriweather);
      margin-right: 46px;
      line-height: 25.5px;
      text-align: justify;
      .long-text {
        padding: 0.8rem 0;
      }
    }
    .funding {
      padding: 2rem 0;
      position: relative;
      &::after {
        position: absolute;
        content: "";
        top: 75px;
        left: 0;
        width: 93%;
        height: 1px;
        background: #cfd5e4;
      }
      h2 {
        @include fontinfo(27px, 700, $primary-color, $source-sans);
      }
      p {
        @include fontinfo(15px, 400, $primary-color, $Merriweather);
        padding-top: 2rem;
      }
      ol {
        padding-top: 2.5rem;
        @include fontinfo(15px, 400, $primary-color, $source-sans);
        line-height: 22.5px;
        li {
          list-style: decimal;
          padding: 1rem 0;
          span {
            a {
              text-decoration: underline;
            }
          }
          .anchor-list {
            margin-top: 0.5rem;
            a {
              padding-right: 2.5rem;
              &:hover {
                text-decoration: underline;
              }
            }
          }
          &:nth-child(12) {
            list-style: none;
            margin-left: -1.3rem;
          }
          &:last-child {
            list-style: none;
            margin-left: -1.3rem;
          }
        }
      }
    }
  }
}

/* ========================================
      Main body part css start
===========================================*/
